<!DOCTYPE html>
<html lang="en" xmlns:th="https:\\www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form th:action="@{/login}" th:object="${userDto}" method="post">

        <div>
            <label for="username">Nombre de usuario </label>
            <input type="text" id="username" th:field="*{username}">
            <div style="color: red;" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
        </div>

        <div>
            <label for="password">Contraseña </label>
            <input type="password" id="password" th:field="*{password}">
            <div style="color: red;" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        </div>

        <div style="color: red;" th:if="${invalidError}" th:text="${invalidError}"></div>

        <input type="submit" value="Login">

    </form>

    
</body>
</html>