<!DOCTYPE html>
<html lang="en" xmlns:th="https:\\www.thymeleaf.org">
<head th:replace="~{layout/fragments :: head}">

</head>

<body class="container-fluid d-flex flex-column vh-100 p-0">
    <header th:replace="~{layout/fragments :: header}">
    </header>
    <main class="d-flex flex-grow-1 align-items-center justify-content-center mt-n5 p-2">
        <div class="card " style="width: 400px; border-color: #55f;">
            <div class="card-header text-center text-white" style="background-color: #55f;;">
                <img th:src="@{/img/login-logo.png}" width="20%" alt="Login-Logo">
                <h4>LOGIN</h4>
            </div>
            <div class="card-body" >
                <div class="alert alert-danger" th:if="${error}" th:text="${error}"></div>
                <form th:action="@{/login}" th:object="${user}" method="post">
                    <div class="form-group row my-2">
                        <div class="col-sm-10 offset-sm-1">
                            <input class ="form-control" type="text" id="username" th:field="*{username}" placeholder="Usuario">
                        </div>
                    </div>
                
                    <div class="form-group row my-2">
                        <div class="col-sm-10 offset-sm-1">
                            <input class ="form-control" type="password" id="password" th:field="*{password}" placeholder="Password">
                        </div>
                    </div>
                
                    <div class="form-group row my-2 mt-5">
                        <input class="col-10 offset-1 btn" style="background-color:#00f; color: #fff;" type="submit" value="Login">
                    </div>
            
                </form>
            </div>
        </div>
    </main>

    <footer th:replace="~{layout/fragments :: footer}"></footer>
</body>
</html>