<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/fragments :: head}">
</head>

<body class="container-fluid d-flex flex-column vh-100 p-0 m-0"></body>
<!-- Cabecera -->
<header th:replace="~{layout/fragments :: header}">
</header>

<!-- Estructura principal del cuerpo de la página -->
<div class="flex-grow-1 d-flex">

    <aside th:replace="~{layout/fragments :: aside}">
    </aside>


    <main class="col-md-7 col-12 p-3">
        <div class="alert alert-success" th:if="${success}" th:text="${success}"></div>
        <div class="alert alert-danger" th:if="${error}" th:text="${error}"></div>
        <div class="p-2">
            <h2>Estadísticas de usuario</h2>
            <div class="p-1" th:if="${userRecords.isEmpty()}">
                <span>No hay registros aun</span>
            </div>
            <ul class="list-unstyled" th:if="${!userRecords.isEmpty()}" th:each="userRecord : ${userRecords}">
                <li class="row">
                    <div class="col-8 border-bottom">
                        <a class="text-decoration-none" th:href="@{/app/user_record/update/{id}(id=${userRecord.id})}">
                            <span th:if="${userRecord.weight}" th:text="${userRecord.date} + ' : ' + ${userRecord.weight} + 'kg'"></span>
                            <span th:if="${userRecord.weight} == null" th:text="${userRecord.date}"></span>
                        </a>
                    </div>
                    <div class="col-2">
                        <div th:replace="~{layout/forms :: userRecordDelete}"></div>
                    </div>
                </li>
            </ul>

            <div th:if="${!userRecords.isEmpty()}">
                <nav th:replace="~{layout/paginator-nav :: nav}"></nav>
            </div>

            <a class="btn btn-primary btn-small" th:href="@{/app/user_record/create}">Nuevo registro <i
                    class=" ms-2 fa-solid fa-plus"></i> </a>

        </div>
    </main>

</div>

<!-- Pie de página -->
<footer th:replace="~{layout/fragments :: footer}">

</footer>

</body>

</html>