
<!-- ****************************************************************
    CAMPOS DE FORMULARIO PARA LAS TEMPORADAS
*******************************************************************-->

<div th:fragment="seasonForm">
    <input type="hidden"  th:field="*{id}">
    <div class="row my-2">
        
        <div class="col-sm-6 px-4">
            <div class="row form-group">
                <label class="col-form-label" for="title">Título *</label>
                <input class=" form-control form-control-sm" type="text" th:field="*{title}" id="title" minlength="5" maxlength="30"
                th:classappend="${#fields.hasErrors('title')} ? 'is-invalid' : ''" required>
            
                <div class="alert alert-danger show-message" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
            </div>
        </div>

        <div class="col-sm-3 px-4">
            <div class="row form-group">
                <label class="col-form-label" for="startDate">Inicio *</label>
                <input class="form-control form-control-sm" type="date" th:field="*{startDate}" id="startDate"
                th:classappend="${#fields.hasErrors('startDate')} ? 'is-invalid' : ''" required>
                <div class="alert alert-danger show-message" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></div>
            </div>
        </div>

        <div class="col-sm-3 px-4">
            <div class="row form-group">
                <label class="col-form-label" for="endDate">Fin</label>
                <input class="form-control form-control-sm" type="date" th:field="*{endDate}" id="endDate" 
                th:classappend="${#fields.hasErrors('endDate')} ? 'is-invalid' : ''">
                <div class="alert alert-danger show-message" th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></div>   
            </div>
        </div>
        
        <div class="col-sm-12 px-4">
            <div class="row form-group">
                    <label class="col-form-label" for="seasonComment">Comentario</label>
                    <textarea class="form-control form-control-sm" th:field="*{seasonComment}" id="seasonComment" rows="2"
                        maxlength="255" th:classappend="${#fields.hasErrors('seasonComment')} ? 'is-invalid' : ''"></textarea>
                    <div class="alert alert-danger show-message" th:if="${#fields.hasErrors('seasonComment')}" th:errors="*{seasonComment}">
                    </div>
            </div>
        </div>

    </div>

</div>






<!-- ****************************************************************
    CAMPOS DE FORMULARIO PARA LOS ENTRENAMIENTOS
*******************************************************************-->


<div th:fragment="trainingForm">

    <input type="hidden" id="id" th:field="*{id}">
    <input type="hidden" id="seasonId" th:field="*{seasonId}">



    <div class="row my-2">
        
        <div class="col-sm-5 px-4">
            <div class="row form-group">
                <label for="date" class=" col-form-label">Fecha *</label>
                <input class="form-control form-control-sm" type="date" th:field="*{date}" id="date" required >
                <div class="alert alert-danger show-message" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></div>
            </div>
        </div>

        <div class="col-sm-5 offset-sm-1 px-4">
            <div class="row form-group">
                <label for="title" class=" col-form-label">Título</label>
                <input type="text" maxlength="30" class="form-control form-control-sm" th:field="*{title}" id="title">
                <div class="alert alert-danger show-message" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
            </div>
        </div>

        
        <div class="col-sm-11 px-4">
            <div class="row form-group">
                <label for="trainingComment" class="col-form-label">Comentario</label>
                <textarea class="form-control form-control-sm" maxlength="255" th:field="*{trainingComment}" id="trainingComment" rows="2"></textarea>
                <div class="alert alert-danger show-message" th:if="${#fields.hasErrors('trainingComment')}" th:errors="*{trainingComment}"></div>
            </div>
        </div>

    </div>


</div>









<!-- ****************************************************************
    CAMPOS DE FORMULARIO PARA LOS EJERCICIOS
*******************************************************************-->
<div th:fragment="exerciseForm">

    <input type="hidden" id="trainingId" th:field="*{trainingId}">
    <input type="hidden" id="id" th:field="*{id}">

    <div class="row my-2">
        
        <div class="col-sm-5 px-4">
            <div class="row form-group">
                <label for="date" class=" col-form-label">Ejercicio *</label>
                <input class="form-control form-control-sm" type="text" th:field="*{exerciseName}" maxlength="30"
                            th:classappend="${#fields.hasErrors('exerciseName')} ? 'is-invalid' : ''" required>
                <div class="alert alert-danger show-message" th:if="${#fields.hasErrors('exerciseName')}" th:errors="*{exerciseName}"></div>
            </div>
        </div>

        <div class="col-sm-5 offset-sm-1 px-4">
            <div class="row form-group">
                <label for="title" class=" col-form-label">Variante</label>
                <input class="form-control form-control-sm" type="text" th:field="*{variant}" maxlength="30"
                            th:classappend="${#fields.hasErrors('variant')} ? 'is-invalid' : ''">
                <div class="alert alert-danger show-message" th:if="${#fields.hasErrors('variant')}" th:errors="*{variant}"></div>
            </div>
        </div>

        
        <div class="col-sm-11 px-4">
            <div class="row form-group">
                <label for="trainingComment" class="col-form-label">Comentario</label>
                <textarea rows="1" class="form-control form-control-sm" type="text" maxlength="255" th:field="*{exerciseComment}"
                            th:classappend="${#fields.hasErrors('exerciseComment')} ? 'is-invalid' : ''">
                </textarea>
                <div class="alert alert-danger show-message" th:if="${#fields.hasErrors('exerciseComment')}" th:errors="*{exerciseComment}"></div>
            </div>
        </div>

    </div>
</div>








<!--*************************************************************************************************
                                 FORMULARIOS DELETE, TEMPORADA, TRAINING Y EJERCICIO
*****************************************************************************************************-->

<div th:fragment="seasonDelete">
    <form th:action="@{/app/season/delete}" th:method="DELETE">
        <input type="hidden" name="seasonId" id="seasonId" th:value="${season.id}">
        <button class="me-2 btn btn-sm btn-danger"
            onclick="return confirm('¿Estás seguro que deseas eliminar esta temporada?')" type="submit">
            Eliminar
            <i class="ms-2 fa-solid fa-trash"></i>
        </button>
    </form>
</div>




<div th:fragment="trainingDelete">
    <form th:action="@{/app/season/training/delete}"  th:method="DELETE">
        <input type="hidden" name="trainingId" id="trainingId" th:value="${training.id}">
        <input type="hidden" name="seasonId" id="seasonId" th:value="${training.seasonId}">
        <button type="submit" class="me-1 btn btn-sm btn-danger" 
                    onclick="return confirm('¿Estás seguro que deseas eliminar este elemento?')">
                    Eliminar
            <i class="ms-2 fa-solid fa-trash"></i>
        </button>
    </form>
</div>


<div th:fragment="exerciseDelete">
    <form th:action="@{/app/season/training/exercise/delete}" th:method="DELETE">
        <input type="hidden" name="exerciseId" th:value="${exercise.id}">
        <input type="hidden" name="trainingId" th:value="${exercise.trainingId}">
        <button onclick="return confirm('¿Estás seguro que deseas eliminar este elemento?')" 
                class=" me-2 btn btn-sm btn-danger">
            Eliminar<i class=" ms-2 fa-solid fa-trash"></i>
        </button>
    </form>
</div>


