
<!-- ****************************************************************
    CAMPOS DE FORMULARIO PARA LAS TEMPORADAS
*******************************************************************-->

<div th:fragment="seasonForm">
    <input type="hidden"  th:field="*{id}">
    <div class="form-group row my-2">
        <label class="col-form-label col-sm-2" for="title">Título</label>
        <div class="col-sm-8 col-xl-6">
            <input class="form-control" type="text" th:field="*{title}" id="title" minlength="5" maxlength="30"
                th:classappend="${#fields.hasErrors('title')} ? 'is-invalid' : ''">
            <div class="alert alert-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
        </div>
        <span class="col-sm-1 text-secondary">Requerido</span>
    </div>

    <div class="form-group row my-2">
        <label class="col-form-label col-sm-2" for="startDate">Inicio</label>
        <div class="col-sm-8 col-xl-6">
            <input class="form-control" type="date" th:field="*{startDate}" id="startDate">
            <div class="alert alert-danger" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></div>
        </div>
        <span class="col-sm-1 text-secondary">Requerido</span>
    </div>

    <div class="form-group row my-2">
        <label class="col-form-label col-sm-2" for="endDate">Finalización</label>
        <div class="col-sm-8 col-xl-6">
            <input class="form-control" type="date" th:field="*{endDate}" id="endDate">
            <div class="alert alert-danger" th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></div>
        </div>
    </div>

    <div class="form-group row my-2">
        <label class="col-form-label col-sm-2" for="seasonComment">Descripción</label>
        <div class="col-sm-10 col-xl-8">
            <textarea class="form-control" type="text" th:field="*{seasonComment}" id="seasonComment" rows="4"
                maxlength="255" th:classappend="${#fields.hasErrors('seasonComment')} ? 'is-invalid' : ''"></textarea>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('seasonComment')}" th:errors="*{seasonComment}">
            </div>
        </div>
    </div>


</div>


<div th:fragment="seasonDelete">
    <form th:action="@{/app/season/delete}" th:method="DELETE">
        <input type="hidden" name="seasonId" id="seasonId" th:value="${season.id}">
        <button class="me-1 btn btn-sm btn-danger"
            onclick="return confirm('¿Estás seguro que deseas eliminar esta temporada?')" type="submit">
            Eliminar
            <i class="ms-2 fa-solid fa-trash"></i>
        </button>
    </form>
</div>















<!-- *****************************************************************
CAMPOS DE FORMULARIO PARA ENTRENAMIENTO
********************************************************************** -->


<div th:fragment="trainingForm">

    <input type="hidden" id="id" th:field="*{id}">
    <input type="hidden" id="seasonId" th:field="*{seasonId}">

    <div class="form-group row my-2">
        <label for="date" class="col-sm-1 col-form-label">Fecha</label>
        <div class="col-sm-3">
            <input class="form-control" type="date" th:field="*{date}" id="date" required >
            <div class="alert alert-danger" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></div>
        </div>
        <span class="col-sm-1 text-secondary">*</span>

        <label for="title" class="col-sm-1 offset-sm-1 col-form-label">Título</label>
        <div class="col-sm-4 ">
            <input type="text" class="form-control" th:field="*{title}" id="title"></input>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
        </div>
    </div>
    
    <div class="form-group row my-2">
        <label for="trainingComment" class="col-sm-1 col-form-label">Descripción</label>
        <div class="col-sm-10">
            <textarea class="form-control" th:field="*{trainingComment}" id="trainingComment" rows="2"></textarea>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('trainingComment')}" th:errors="*{trainingComment}"></div>
        </div>
    </div>

</div>





<div th:fragment="trainingDelete">
    <form th:action="@{/app/season/training/delete}"  th:method="DELETE">
        <input type="hidden" name="trainingId" id="trainingId" th:value="${training.id}">
        <input type="hidden" name="seasonId" id="seasonId" th:value="${training.seasonId}">
        <button type="submit" class="me-1 btn btn-sm btn-danger" 
                    onclick="return confirm('¿Estás seguro que deseas eliminar este elemento?')">
                    Eliminar
            <i class="ms-2 fa-solid fa-trash"></i>
        </button>
    </form>
</div>













<div th:fragment="exerciseFormTable">
    <table class="table table-sm table-bordered table-hover table-success">
        <thead class="table-success">
            <tr>
                <th style="width: 20%;">Ejercicio</th>
                <th style="width: 15%;">Variante</th>
                <th >comentario</th>
            </tr>
        </thead>
        <tbody class="text-secondary info-txt">
            <tr>
                <td class="p-1">
                    <input class="border-0 w-100" type="text" th:field="*{exerciseName}"
                            th:classappend="${#fields.hasErrors('exerciseName')} ? 'is-invalid' : ''">
                </td>

                <td class="p-1">
                    <input class="border-0 w-100" type="text" th:field="*{variant}"
                            th:classappend="${#fields.hasErrors('variant')} ? 'is-invalid' : ''">
                </td>

                <td class="p-1">
                    <textarea rows="1" class="border-0 w-100" type="text" th:field="*{exerciseComment}"
                            th:classappend="${#fields.hasErrors('exerciseComment')} ? 'is-invalid' : ''">
                    </textarea>
                </td>
            </tr>
        </tbody>
    </table>
</div>






