<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/fragments :: head}">
</head>

<body class="container-fluid d-flex flex-column vh-100 p-0 m-0"></body>


    <!-- ====================================*Encabezado*========================================= -->
    <header th:replace="~{layout/fragments :: header}"></header>
    



    <!-- ==========================*Sección principal*=============================== -->
    <div class="flex-grow-1 d-flex">
            





        <!-- ==========================*Aside común a la app, aparece a la izquierda*=============================== -->
        <aside th:replace="~{layout/fragments :: aside}"></aside>





        <!--============ Contenido central, el contenido de cada sección está aqui =============-->
        <main class="col-md-9 col-12 p-3">


            <!-- Mensajes de exito informativos van aquí -->
            <div class="alert alert-success show-message" th:if="${success}" th:text="${success}"></div>


            <!-- **************************************
                 SECCIÓN DE TEMPORADAS EN TABLA              
            **************************************** -->
            <!-- Tabla de temporadas del usuario -->
            <h4>Temporadas</h4>
            <div class="table-responsive">
                <table class=" table table-sm table-bordered border-primary table-hover table-light">

                    <!-- Encabezado de la tabla -->
                    <thead class="table-primary border-primary">
                        <tr >
                            <th style="width: 20%;">Título</th>
                            <th style="width: 12%;">Inicio</th>
                            <th style="width: 12%;">Fin</th>
                            <th style="width: 50%;">Descripción</th>
                            <th style="width: 5%;"></th>
                        </tr>
                    </thead>

                    <!-- Cuerpo de la tabla para mostrar las temporadas -->
                    <tbody class="text-secondary info-txt">

                        <!-- Si no hay temporadas muestras el mensaje que coupa toda la fila -->
                        <tr th:if="${seasons.isEmpty()}"><td colspan="5">No hay temporadas creadas aun</td></tr>
                        <!-- Si hay temporadas se muestran, cada fila es un enlace a la temporada -->
                        <tr th:if="${!seasons.isEmpty()}" th:each="season : ${seasons}">

                        
                                <td>
                                    <a th:href="@{/app/season/} + ${season.id} + '/show'" th:text="${season.title}" class="text-decoration-none text-secondary"></a>
                                </td>
                                <td>
                                    <a th:href="@{/app/season/} + ${season.id} + '/show'" th:text="${season.startDate}" class="text-decoration-none text-secondary"></a>
                                </td>
                                <td>
                                    <a th:href="@{/app/season/} + ${season.id} + '/show'" th:text="${season.endDate}" class="text-decoration-none text-secondary"></a>
                                </td>
                                <td>
                                    <a th:href="@{/app/season/} + ${season.id} + '/show'" th:text="${season.seasonComment}" class="text-decoration-none text-secondary"></a>
                                </td>
                                <!-- Esta columna es para las acciones de cada temporada, enlace y botón de eliminar -->
                                <td >
                                    <div class="d-flex">
                                        <a th:href="@{/app/season/} + ${season.id} + '/show'" class="me-1 table-mini-btn text-decoration-none">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </a>
                                        <form th:action="@{/app/season/delete}" th:method="DELETE">
                                            <input type="hidden" name="seasonId" id="seasonId" th:value="${season.id}">
                                            <button class="me-1 table-mini-btn"
                                                onclick="return confirm('¿Estás seguro que deseas eliminar esta temporada?')" type="submit">
                                                <i class="fa-solid fa-trash"></i>
                                            </button>
                                        </form>
                                    </div>
                                </td>

                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Muestra la paginación si hay temporadas en la tabla -->
            <div th:if="${!seasons.isEmpty()}">
                <nav th:replace="~{layout/paginator-nav :: nav}"></nav>
            </div>




            <!--============ Separador vacio para dividir secciones =============-->
            <div class="vertical-separator"></div>
            <hr>




            <!-- **************************************
                FORMULARIO DE CREACIÓN DE TEMPORADA              
            **************************************** -->
            <!-- Formulario de creación -->
            <div class="card border-secondary card-form">
                <h4 class="card-header">Crear Temporada</h4>

                <div class="card-body">
                    <form id="createSeasonForm" th:action="@{/app/season/create}" th:object="${season}" method="post">
                        <!-- inyecta los campos del formulario-->
                        <div th:replace="~{layout/forms :: seasonForm}"></div>
                    </form>
                </div>
            </div>
            <!-- Botón de creación, referencia al formulario de creación -->
            <button class="btn btn-sm btn-success my-3" form="createSeasonForm" type="submit">
                Añadir nueva temporada<i class="ms-2 fa-solid fa-plus"></i>
            </button>
        </main>

    </div>

    

    <!-- ====================================*Footer y scripts*========================================= -->
    <footer th:replace="~{layout/fragments :: footer}"></footer>

    

</body>

</html>