<!DOCTYPE html>
<html lang="en" xmlns:th="https:\\www.thymeleaf.org">
<head th:replace="~{layout/fragments :: head}">

</head>

<body class="container-fluid d-flex flex-column vh-100 p-0">
    <header th:replace="~{layout/fragments :: header}">
    </header>
    <div class="d-flex flex-wrap flex-grow-1">
            <main class="p-2">
                <div class="card bg-danger">
                    <div class="card-header"><span class="fs-2"><i class="fa-solid fa-ban me-3"></i> 403 - Access Denied</span></div>
                    <div class="card-body"><span>You do not have permission to access this page.</span></div>
                </div>
            </main>
    </div>

    <footer th:replace="~{layout/fragments :: footer}"></footer>
</body>
</html>