<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/fragments :: head}">
</head>

<body>
    <!-- Cabecera -->
    <header th:replace="~{layout/fragments :: header}">
    </header>

    <!-- Estructura principal del cuerpo de la página -->
    <div class="container-fluid">
        <div class="row">
            <!-- Apartado a la izquierda -->
            <aside th:replace="~{layout/fragments :: aside}">
            </aside>

            <!-- Contenido principal -->
            <main class="col-md-9">
                <div class="p-4">
                    <h2>Editor de entrenamiento</h2>

                    <div class="alert  alert-success" th:if="${success}" th:text="${success}"></div>

                    <p>Crear entrenamiento</p>
                    
                    <form id="trainingForm" th:action="@{/app/training/update}" th:object="${training}" method="get">

                        <input type="hidden" id="id" th:field="*{id}">
                        <div>
                            <label for="date">Fecha</label>
                            <input type="date" th:field="*{date}" id="date">
                            <span id="dateError" class="error"></span>
                        </div>

                        <div>
                            <label for="trainingComment">Descripción</label>
                            <input type="text" th:field="*{trainingComment}" id="trainingComment">
                        </div>

                        <div>
                            <input type="submit" value="Guardar cambios">
                        </div>

                    </form>
                    
                    <a th:href="@{/app/crud}">Volver a los entrenamientos</a>

                    <hr>

                    <h3>Sección de ejercicios</h3>

                    <ul th:if="${training.exerciseDtos !=null}">
                        <li th:each="exercise : ${training.exerciseDtos}">
                            <a href="#" th:onclick="'loadExercise(' + ${exercise.id} + ')'" th:text="${exercise.exerciseName}"></a>
                            <a th:href="@{/}" onclick="return confirm('¿Estás seguro que deseas eliminar este elemento?')">Eliminar</a>
                        </li>
                    </ul>
                    <span th:if="${training.exerciseDtos == null}">No hay ningún ejercicio aún</span>

                    <div id="exerciseContainer">
                        <a href="#" onclick="showCreateForm()">Crea un nuevo ejercicio</a>
                        <form id="exerciseForm" th:action="@{/app/exercise/create}" th:object="${exercise}" method="post">
                            <input type="hidden" name="trainingId" th:value="${trainingId}">
                            <input type="hidden" th:field="*{id}" id="exerciseId">
                            <div>
                                <label for="exerciseName">Nombre</label>
                                <input type="text" th:field="*{exerciseName}" id="exerciseName">
                            </div>
                            <div style="color:red" th:if="${#fields.hasErrors('exerciseName')}" th:errors="*{exerciseName}"></div>
    
                            <div>
                                <label for="variant">Variante</label>
                                <input type="text" th:field="*{variant}" id="variant">
                            </div>
                            <div style="color:red" th:if="${#fields.hasErrors('variant')}" th:errors="*{variant}"></div>
    
                            <div>
                                <label for="exerciseComment">comentario</label>
                                <input type="text" th:field="*{exerciseComment}" id="exerciseComment">
                            </div>
                            <div style="color:red" th:if="${#fields.hasErrors('exerciseComment')}" th:errors="*{exerciseComment}"></div>
                            <input id="submitExerciseBtn" type="submit" value="Crear">
                        </form>
                    </div>


                </div>
            </main>
        </div>
    </div>

    <!-- Pie de página -->
    <footer th:replace="~{layout/fragments :: footer}">

    </footer>

    <script>
        async function loadExercise(exerciseId) {
            try {
                // Llamada a la API para obtener los datos del ejercicio
                const response = await fetch(`/app/exercise/${exerciseId}`);
                if (!response.ok) {
                    throw new Error('Network response was not ok ' + response.statusText);
                }
                const exercise = await response.json();
                //Limpiar antes de mostrar
                clearForm();
                // Asignar los datos a los campos del formulario
                document.getElementById('exerciseName').value = exercise.exerciseName;
                document.getElementById('variant').value = exercise.variant;
                document.getElementById('exerciseComment').value = exercise.exerciseComment;
    
                //document.querySelector('input[name="id"]').value = exercise.id;
                document.getElementById('exerciseId').value = exercise.id;

                document.getElementById('submitExerciseBtn').value='Guardar cambios'
    
            } catch (error) {
                console.error('There was a problem with the fetch operation:', error);
            }
        }

        


        // Función para limpiar el formulario
        function clearForm() {
        document.getElementById('exerciseId').value = '';
        document.getElementById('exerciseName').value = '';
        document.getElementById('variant').value = '';
        document.getElementById('exerciseComment').value = '';
        }

        //Función para mostrar el formulario de creación de ejercicios
        function showCreateForm(){
            clearForm();
            document.getElementById('submitExerciseBtn').value='Crear'
        }
    </script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Obtener el formulario por su ID
        const form = document.getElementById('trainingForm');
        
        // Añadir un evento de envío al formulario
        form.addEventListener('submit', async function(event) {
            event.preventDefault(); // Prevenir el comportamiento por defecto
            
            // Limpiar errores anteriores
            document.querySelectorAll('.error').forEach(el => el.textContent = '');
            
            // Crear un objeto FormData a partir del formulario
            const formData = new FormData(form);
            // Convertir FormData a un objeto simple
            const data = Object.fromEntries(formData.entries());
            
            try {
                // Enviar la solicitud al servidor
                const response = await fetch('/app/training/update', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data) // Convertir los datos a JSON
                });

                if (!response.ok) {
                    // Obtener los errores de validación del servidor
                    const errors = await response.json();
                    for (const [field, message] of Object.entries(errors)) {
                        // Mostrar los errores en los campos correspondientes
                        document.getElementById(`${field}Error`).textContent = message;
                    }
                } else {
                    const updatedTraining = await response.json();
                    // Manejar la actualización exitosa, por ejemplo, mostrando un mensaje de éxito
                    alert('Entrenamiento guardado con éxito');
                }
            } catch (error) {
                console.error('Error al actualizar el entrenamiento:', error);
            }
        });
    });
</script>

</body>
</html>