<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/fragments :: head}">
</head>

<body >
    <!-- Cabecera -->
    <header th:replace="~{layout/fragments :: header}">
    </header>

    <!-- Estructura principal del cuerpo de la página -->
    <div class="container-fluid">
        <div class="row">
            <!-- Apartado a la izquierda -->
            <aside th:replace="~{layout/fragments :: aside}">
            </aside>

            <!-- Contenido principal -->
            <main class="col-md-7 col-12">
                <div class="p-4">
                    <h2>Editor de entrenamiento</h2>

                    <div class="alert  alert-success" th:if="${success}" th:text="${success}"></div>
                    
                    <form class="my-3" th:action="@{/app/training/{id}(id=${training.id})}" th:object="${training}" th:method="PUT">
                        <input type="hidden" id="id" th:field="*{id}">
                        
                        <div class="form-group row my-2">
                            <label for="date" class="col-sm-2 col-form-label">Fecha</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="date" th:field="*{date}" id="date">
                                <div class="alert alert-danger" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></div>
                            </div>
                            <span class="col-sm-1 text-secondary">Requerido</span>
                        </div>

                        <div class="form-group row my-2">
                            <label for="title" class="col-sm-2 col-form-label">Título</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" th:field="*{title}" id="title"></input>
                            </div>
                        </div>
                        
                        <div class="form-group row my-2">
                            <label for="trainingComment" class="col-sm-2 col-form-label">Descripción</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" th:field="*{trainingComment}" id="trainingComment" rows="4"></textarea>
                            </div>
                        </div>
                        
                        <div class="form-group row my-2">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary">
                                    Guardar<i class=" ms-2 fa-solid fa-floppy-disk"></i>
                                </button>
                                <a class="btn btn-secondary" th:href="@{/app/training/list}">Volver<i class=" ms-2 fa-solid fa-rotate-left"></i></a>
                            </div>
                        </div>
                    </form>
                    

                    <hr>

                    <h3>Ejercicios</h3>

                    <ul class="list-unstyled" th:if="${exerciseDtos != null}">
                        <li th:each="exercise : ${exerciseDtos}" class="mb-2 border-bottom pb-2 d-flex flex-column">
                            <div class="d-flex justify-content-between align-items-center">
                                <a th:href="@{/app/exercise/{id}(id=${exercise.id})}" th:text="${exercise.printGymSetFormat()}" class="text-decoration-none"></a>
                                <a th:href="@{'/app/exercise/delete/' + ${exercise.trainingId}+ '/'+ ${exercise.id}}" onclick="return confirm('¿Estás seguro que deseas eliminar este elemento?')" class="btn btn-danger btn-sm ms-2">
                                    Eliminar<i class="ms-2 fa-solid fa-trash"></i>
                                </a>
                            </div>
                            <span class="mt-2 text-secondary" style="font-size: 12px;" th:if="${exercise.exerciseComment}" th:text="'Nota: ' + ${exercise.exerciseComment}"></span>
                        </li>
                    </ul>
                    
                    <span th:if="${training.exerciseDtos == null}">No hay ningún ejercicio aún</span>

                    <div class="my-4">
                        <form class="my-3" th:action="@{/app/exercise/create}" th:object="${exercise}" method="post">
                            <input type="hidden" name="trainingId" th:value="${trainingId}">
                            <input type="hidden" th:field="*{id}" id="exerciseId">
                            <div class="form-group row my-2">
                                <label class="col-form-label col-sm-2" for="exerciseName">Nombre</label>
                                <div class="col-sm-6">
                                    <input class="form-control" type="text" th:field="*{exerciseName}" id="exerciseName" placeholder="Ej: Press de banca">
                                </div>
                            </div>
                            <div style="color:red" th:if="${#fields.hasErrors('exerciseName')}" th:errors="*{exerciseName}"></div>
    
                            <div class="form-group row my-2">
                                <label class="col-form-label col-sm-2" for="variant">Variante</label>
                                <div class="col-sm-6">
                                    <input class="form-control" type="text" th:field="*{variant}" id="variant" placeholder="Ej: Parada">
                                </div>
                            </div>
                            <div style="color:red" th:if="${#fields.hasErrors('variant')}" th:errors="*{variant}"></div>
    
                            <div class="form-group row my-2">
                                <label class="col-form-label col-sm-2" for="exerciseComment">comentario</label>
                                <div class="col-sm-6">
                                    <input class="form-control" type="text" th:field="*{exerciseComment}" id="exerciseComment" placeholder="Comentario adicional">
                                </div>
                            </div>
                            <div style="color:red" th:if="${#fields.hasErrors('exerciseComment')}" th:errors="*{exerciseComment}"></div>
                            
                            <div class="form-group row my-2">
                                <div class="col-sm-12">
                                    <button class="btn btn-primary" type="submit">Añadir<i class=" ms-2 fa-solid fa-plus"></i></button>
                                </div>
                            </div >

                            </form>
                    </div>


                </div>
            </main>
        </div>
    </div>

    <!-- Pie de página -->
    <footer th:replace="~{layout/fragments :: footer}">

    </footer>

    <script>
        async function loadExercise(exerciseId) {
            try {
                // Llamada a la API para obtener los datos del ejercicio
                const response = await fetch(`/app/exercise/${exerciseId}`);
                if (!response.ok) {
                    throw new Error('Network response was not ok ' + response.statusText);
                }
                const exercise = await response.json();
                //Limpiar antes de mostrar
                clearForm();
                // Asignar los datos a los campos del formulario
                document.getElementById('exerciseName').value = exercise.exerciseName;
                document.getElementById('variant').value = exercise.variant;
                document.getElementById('exerciseComment').value = exercise.exerciseComment;
    
                //document.querySelector('input[name="id"]').value = exercise.id;
                document.getElementById('exerciseId').value = exercise.id;

                document.getElementById('submitExerciseBtn').value='Guardar cambios'
    
            } catch (error) {
                console.error('There was a problem with the fetch operation:', error);
            }
        }

        


        // Función para limpiar el formulario
        function clearForm() {
        document.getElementById('exerciseId').value = '';
        document.getElementById('exerciseName').value = '';
        document.getElementById('variant').value = '';
        document.getElementById('exerciseComment').value = '';
        }

        //Función para mostrar el formulario de creación de ejercicios
        function showCreateForm(){
            clearForm();
            document.getElementById('submitExerciseBtn').value='Crear'
        }
    </script>

</body>
</html>