<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/fragments :: head}">
</head>
    
<body class="container-fluid d-flex flex-column vh-100 p-0 m-0">
        

    <!-- ====================================*Encabezado*========================================= -->
    <header th:replace="~{layout/fragments :: header}"></header>
    



    <!-- ==========================*Sección principal*=============================== -->
    <div class="flex-grow-1 d-flex">
            





        <!-- ==========================*Aside común a la app, aparece a la izquierda*=============================== -->
        <aside th:replace="~{layout/fragments :: aside}"></aside>


            


        <!--============ Contenido central, el contenido de cada sección está aqui =============-->
        <main class="col-md-9 col-12 p-3">


            <!-- *****************************
                 FORMULARIO DE EJERCICIO               
            ******************************** -->
            <!-- Muestra el formulario de edición -->
            <div class="card border-secondary card-form">

                <h4 class="card-header">Editor de ejercicio</h4>
                
                <div class="card-body">
                    <form id="createexerciseForm" th:action="@{/app/season/training/exercise/update}" th:object="${exercise}" th:method="PUT">
                        <!-- inyecta los campos del formulario-->
                        <div th:replace="~{layout/forms :: exerciseForm}"></div>
                    </form>
                </div>

            </div>

            <!-- Panel de acciones guardar, eliminar y volver de ejercicio -->
            <div class="d-flex my-4">
                
                <button type="submit" form="createexerciseForm" class="btn btn-sm btn-primary me-2">
                    Guardar<i class=" ms-2 fa-solid fa-floppy-disk"></i>
                </button>

                <div th:replace="~{layout/forms :: exerciseDelete}"></div>

                <a class="btn btn-sm btn-secondary me-2" th:href="@{/app/season/training/exercise/} + ${exercise.id} + '/show'">
                    Volver<i class=" ms-2 fa-solid fa-rotate-left"></i>
                </a>
            </div>


        </main>
    </div>

    




    <!-- ====================================*Footer y scripts*========================================= -->
    <footer th:replace="~{layout/fragments :: footer}"></footer>


</body>
</html>