<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/fragments :: head}">
</head>

<body class="container-fluid d-flex flex-column vh-100 p-0 m-0">
        

    <!-- ====================================*Encabezado*========================================= -->
    <header th:replace="~{layout/fragments :: header}">
    </header>




    <!-- ==========================*Sección principal*=============================== -->
    <div class="flex-grow-1 d-flex">
        




        <!-- ==========================*Aside común a la app, aparece a la izquierda*=============================== -->
        <aside th:replace="~{layout/fragments :: aside}">
        </aside>





        <!--============ Contenido central, el contenido de cada sección está aqui =============-->
        <main class="col-md-9 col-12 p-3">


            <!-- Mensajes de exito de ejercicio informativos van aquí -->
            <div class="alert  alert-success show-message" th:if="${successExercise}" th:text="${successExercise}"></div>
            

            <!-- *****************************
                 APARTADO DE EJERCICIO               
            ******************************** -->
            <!-- Muestra la información de este ejercicio -->
            <div class="card my-2 card-info">

                <!-- Nombre y variante del ejercicio -->
                <h4 class="card-header">
                    <span th:if="${exercise.exerciseName}" th:text="'Ejercicio: ' + ${exercise.exerciseName}"></span>
                    <span th:if="${exercise.variant}" th:text="${exercise.variant}"></span>
                </h4>

                <div class="card-body">
                    
                    <!-- Posible descripción del ejercicio -->
                    <div class="my-2">
                        <span th:if="${exercise.exerciseComment}" th:text="${exercise.exerciseComment}"></span>
                    </div>

                    <!-- Resumen de todas las series de un ejercicio -->
                    <div class="alert alert-info p-1 info-txt"  >
                        <strong>Resumen de series:</strong> <span th:text="${exercise.printGymSetFormat()}"></span>
                    </div>

                    <!-- Panel de acciones editar, volver y eliminar ejercicio-->
                    <div class="d-flex mt-4">
                    
                        <a class="btn btn-primary btn-sm me-2" th:href="@{/app/season/training/exercise/} + ${exercise.id} + '/update'">
                            Editar<i class="ms-2 fa-solid fa-pen-to-square"></i>
                        </a>

                        <div th:replace="~{layout/forms :: exerciseDelete}"></div>

                        <a class=" me-2 btn btn-sm btn-secondary" th:href="@{/app/season/training/} + ${exercise.trainingId} + '/show'"  >
                            Volver<i class=" ms-2 fa-solid fa-rotate-left"></i>
                        </a>
                    </div>
                </div>
            </div>






            <!--============ Separador vacio para dividir secciones =============-->
            <div class="vertical-separator"></div>
            <hr>







            <!-- *****************************
                 APARTADO DE SERIES               
            ******************************** -->

            <h4 class="mb-4" th:text="'Series de ' + ${exercise.exerciseName}"></h4>
        



            <!-- Sección de mensajes de error, realmenter no son formularios, si no una forma en la
                 que Thymeleaf identificará a que objeto pertenece el error para mostrarlo -->

            <!-- Errores en la actualización de una serie -->
            <form th:if="${gymSetUpdate}" action="#" th:object="${gymSetUpdate}">
                    
                <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger show-message">
                    <ul class="m-0">
                        <li th:each="err : ${#fields.allErrors()}" th:text="${err}"></li>
                    </ul>
                </div>
            </form>
            <!-- Errores en la creación de una serie -->
            <form th:if="${gymSetForm}" action="#" th:object="${gymSetForm}">
                
                <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger show-message">
                    <ul class="m-0">
                        <li th:each="err : ${#fields.allErrors()}" th:text="${err}"></li>
                    </ul>
                </div>
            </form>




            <!-- Mensajes de exito de serie informativos van aquí -->
            <div class="alert alert-success show-message" th:if="${successGymSet}" th:text="${successGymSet}"></div>


            <!-- Tabla de series -->
            <div class="table-responsive">
                <table class=" table table-sm table-bordered table-hover table-light border-primary">
                    
                    <!-- Encabezado de la tabla -->
                    <thead class="table-primary border-primary">
                        <tr>
                            <th style="width: 25%;">Peso</th>
                            <th style="width: 25%;">Reps</th>
                            <th style="width: 25%;">Series</th>
                            <th style="width: 10%;">Fallo</th>
                            <th style="width: 15%;">Acción</th>
                        </tr>
                    </thead>
        
                    <!-- Sección de tabla para mostrar las series y editarlas -->
                    <tbody class="text-secondary info-txt">
        
                        <!-- Si hay series se van a mostrar en cada fila de la tabla -->
                        <tr th:if="${exercise.gymSetsDtos !=null}" th:each="gymSet,iterStat : ${exercise.gymSetsDtos}">
                            


                            <!-- Formulario de actualización, cada registro tendrá el suyo con su propio id generado en el forEach de thymeleaf -->
                            <form th:id="'updateGymSetForm_'+${iterStat.index}" th:action="@{/app/season/training/exercise/gymset/update}" th:method="PUT">
                                <td>
                                    <input type="hidden" name="setOrder" th:value = "${gymSet.setOrder}">
                                    <input type="hidden" name="exerciseId" th:value = "${gymSet.exerciseId}">
                                    <input type="number" step="0.1" class="border-0 form-control-sm w-set-input" th:value="${gymSet.weight}" name="weight">
                                    <span>Kg</span>
                                </td>
                                <td>
                                    <input type="number" class="border-0 form-control-sm w-set-input" th:value="${gymSet.repetitions}" name="repetitions">
                                </td>
                                <td>
                                    <span>x</span>
                                    <input type="number" class="border-0 form-control-sm w-set-input" th:value="${gymSet.timesRepeated}" name="timesRepeated">
                                </td>
                                <td class=" text-center">
                                    <input type="checkbox" name="failure" value="true" th:checked="${gymSet.failure}">
                                    <input type="hidden" name="_failure" value="on">
                                </td>

                            </form>



                            <!-- Columna de acciones, ascender y descenser serie, editar y borrar  -->
                            <td class="p-1">
                                <div class="d-flex ">
                                    <form th:action="@{/app/season/training/exercise/gymset/down}" th:method="POST">
                                        <input type="hidden" name="setOrder" th:value = "${gymSet.setOrder}">
                                        <input type="hidden" name="exerciseId" th:value = "${gymSet.exerciseId}">
                                        <button class="me-1 table-mini-btn">
                                            <i class="fa-solid fa-caret-up"></i>
                                        </button>
                                    </form>
                                    <form th:action="@{/app/season/training/exercise/gymset/up}" th:method="POST">
                                        <input type="hidden" name="setOrder" th:value = "${gymSet.setOrder}">
                                        <input type="hidden" name="exerciseId" th:value = "${gymSet.exerciseId}">
                                        <button class="me-1 table-mini-btn">
                                            <i class="fa-solid fa-caret-down"></i>
                                        </button>
                                    </form>
                                    <!-- Referencia al formulario de actualización de esta fila -->
                                    <button th:form="'updateGymSetForm_'+${iterStat.index}" type="submit" class="me-1 table-mini-btn">
                                        <i class="fa-solid fa-floppy-disk"></i>
                                    </button>
                                    <form th:action="@{/app/season/training/exercise/gymset/delete}" th:method="DELETE">
                                        <input type="hidden" name="setOrder" th:value = "${gymSet.setOrder}" th:id="'setOrder_'+${iterStat.index}">
                                        <input type="hidden" name="exerciseId" th:value = "${gymSet.exerciseId}" th:id="'exerciseId_'+${iterStat.index}">
                                        <button onclick="return confirm('¿Estás seguro que deseas eliminar este elemento?')" type="submit"  
                                            class=" me-1 table-mini-btn">
                                            <i class=" ms-1 fa-solid fa-trash"></i>
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        <!-- Si no hay series muestra esto en una fila completa -->
                        <tr th:if="${exercise.gymSetsDtos == null}">
                            <td colspan="5">
                                <span >No hay ninguna serie aún</span>
                            </td>
                        </tr>
        
                    </tbody>

                    <!-- Sección de tabla para crear nuevas series -->
                    <tbody  class="text-secondary table-secondary border-secondary info-txt">
        
                        <tr>
                            <form id="createGymSetForm" th:action="@{/app/season/training/exercise/gymset/create}" th:object="${gymSetForm}"  method="POST">
                                <td >
                                    <input type="hidden"  th:field="*{exerciseId}">
                                    <input class="border-0 form-control-sm  w-set-input"  type="number" min="0" max="999"  step="0.1"  th:field="*{weight}">
                                    <span>Kg</span>
                                </td>
                                <td >
                                    <input class="border-0 form-control-sm  w-set-input"  type="number" min="0" max="127"  th:field="*{repetitions}">
                                    
                                </td >
                                <td >
                                    <span>x</span>
                                    <input type="number" class="border-0 form-control-sm  w-set-input" min="0" max="127"   th:field="*{timesRepeated}">
                                    
                                </td >
                                <td class="p-1 text-center">
                                    <input type="checkbox"  th:field="*{failure}">
                                </td>
                                <td></td>
                            </form>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Botón para crear nuevas series, referencia a al formulario de creación de serie-->
            <button form="createGymSetForm" class="btn btn-sm btn-success" type="submit" >
                Añadir <i class="ms-1 fa-solid fa-plus"></i></i>
            </button>
        </main>
    </div>






    <!-- ====================================*Footer y scripts*========================================= -->
    <footer th:replace="~{layout/fragments :: footer}"></footer>





</body>
</html>